# Rust
rython/jit/__rust__
rython/hand_test/__pycache__/
rython/tests/__pycache__/
# Parser output
rython/parser/parser.out
rython/parser/parsetab.py
rython/parser/*.out
rython/parser/parsetab.*

*.pyc
*.so
*.pyd
*.whl

target